html,
body {
    height: 100%;
}

.container-fluid {
    position: static !important;
}

#home_menu {
    color: #FFFFFF;
    text-align: right;
    height: 100%;
    padding: 0 10% 0 20%;
    ul {
        width: 100%;
        li {
            cursor: pointer;
            padding: 5px;
            color: #808080;
            &.active {
                border-bottom: 1px solid #FFFFFF;
                font-weight: bold;
                color: #FFFFFF;
            }
        }
    }
}

#home_content {
    color: #FFFFFF;
    height: 100%;
    padding: 0 2% 0 2%;
    .block_welcome {}
    .block_myproject {
        display: none;
        ul {
            li {
                color: #000000;
                cursor: pointer;
                .delete-project {
                    color: #FF0000;
                }
            }
        }
    }
    .block_newproject {
        display: none;
    }
    .block_settings {
        display: none;
    }
}