#home_menu {
  background: #48A440;
}

#home_menu > ul > li {
  color: #8cbda4;
}

#home_content {
  background-color: #73BF21;
}

#config {
  background-color: #48A440;
}

#content {
  background-color: #73BF21;
}

#BtnHome {
  background-color: #48A440;
}

#BtnHome:hover {
  background-color: #73BF21;
}
