html,
body {
    height: 100%;
}

#update {
    background-color: #5e42a6;
    color: #FFFFFF;
}

h5 {
    text-align: center;
}

.progress {
    margin: 5px;
}

.message {
    text-align: center;
    margin: 5px;
}