#home_menu {
    background: #312450;
}

#home_content {
    background-color: #5e42a6;
}

#config {
    background-color: #312450;
}

#content {
    background-color: #5e42a6;
}

#BtnHome {
    background-color: #312450;
    &:hover {
        background-color: #1B1037;
    }
}