html,
body {
    height: 100%;
}

.container-fluid {
    position: static !important;
}

#home_menu {
    background: #312450;
    color: white;
    text-align: right;
    height: 100%;
    padding: 0 10% 0 20%;
}

#home_menu>ul {
    width: 100%;
}

#home_menu>ul>li {
    cursor: pointer;
    padding: 5px;
    color: gray;
}

#home_menu>ul>li.active {
    border-bottom: 1px solid white;
    font-weight: bold;
    color: white;
}

#home_content {
    background-color: #5e42a6;
    color: white;
    height: 100%;
    padding: 0 2% 0 2%;
}

#home_content>.block_welcome {}

#home_content>.block_myproject {
    display: none;
}

#home_content>.block_myproject>ul>li {
    color: black;
    cursor: pointer;
}

.delete-project {
    color: red;
}

#home_content>.block_newproject {
    display: none;
}

#home_content>.block_settings {
    display: none;
}