html,
body {
    height: 100%;
}

.container-fluid {
    position: static !important;
}

#config {
    background-color: #312450;
    padding: 2%;
    color: white;
    border-right: 1px solid white;
}

#config>p {
    text-align: center;
}

#config>p>.edit-project {
    padding-left: 5px;
    color: orange;
    font-size: 14px;
    cursor: pointer;
}

#content {
    background-color: #5e42a6;
    padding: 2%;
    color: white;
}

#BtnHome {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #312450;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

#BtnHome:hover {
    background-color: #1B1037;
}