html,
body {
    height: 100%;
}

.container-fluid {
    position: static !important;
}

#config {
    background-color: #312450;
    padding: 2%;
    color: white;
    border-right: 1px solid white;
}

#config>p {
    text-align: center;
}

#config>p>.edit-project {
    padding-left: 5px;
    color: orange;
    font-size: 14px;
    cursor: pointer;
}

#content {
    background-color: #5e42a6;
    padding: 2%;
    color: white;
}

#footer {
    background-color: #312450;
    padding: 2%;
    color: white;
    border-top: 1px solid white;
}